/* normal Card */

.news-container {
    border-radius: 0.2in;
    border-width: 0.017in;
    border-style: solid;
    border-color: rgba(73, 73, 73, 0.24);
    background-color: rgba(27, 30, 31, 0.55);
    display: flex;
    flex-direction: row;
    width: 75%;
    height: 3.25in;
    align-self: center;
    justify-content: center;
}

.news-card {
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    padding-left: 3%;
}
