.grasswing-footer {
    color: rgb(218, 218, 218);
    background-color: rgba(12, 10, 10, 0.65);
    border-width: 0.012in;
    border-style: solid;
    border-color: rgba(73, 73, 73, 0.24);
    display: flex;
    flex-direction: row;
    height: 2in;
    justify-content: center;
}

.vertical {
    padding-top: 2%;
}

.grasswing-footer-icons {
    padding-left: 2%;
    width: 12.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grasswing-footer-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.grasswing-footer-links {
    padding-top: 1.75%;
    display: flex;
    flex-direction: column;
}

.grasswing-footer-title {
    padding-top: 2%;
    display: flex;
    font-weight: bold;
    font-size: 0.25in;
}

.tool-copyright {
    width: 100%;
    display: flex;
    font-size: 0.095in;
}

.grasswing-footer-docs {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-weight: light;
    padding-bottom: 0.5%;
    font-size: 0.15in;
}

.grasswing-footer-copyright {
    display: flex;
    flex-direction: column;
}

.horizontal {
    display: flex;
    padding-left: 4.5%;
}
