@font-face {
    font-family: "SanFrancisco";
    src:
        local(SanFrancisco),
        url(./assets/San-Francisco-Font/SFPRODISPLAYREGULAR.OTF);
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-image: linear-gradient(
        90deg,
        rgba(19, 19, 23, 1) 0%,
        rgba(3, 32, 15, 1) 100%
    );
    font-family: "SanFrancisco";
}
